@model Test1.Models.FlowerType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FlowerType</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit" enctype="multipart/form-data" class="d-flex justify-content-around">
            <div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

            <div>
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)"
                     style="max-width: 300px; height: auto;" />

                <div class="form-group mt-3">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" asp-for="Image" class="form-control-file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
